<div class="container">
    <h1 style="font-family: Arial, sans-serif; font-size: 36px; color: #333;">Search Dog Breeds</h1>
  
    <form class="mb-4">
      <div class="form-group">
        <input type="text" name="dog-breed" class="form-control" #dogbreed placeholder="Enter a dog breed">
      </div>
      <button (click)="getDogDetails(dogbreed.value)" type="submit" class="btn btn-primary mt-2">Get Dog Details</button>
      <p class="text-danger mt-2" *ngIf="errorMsg">{{ errorMsg }}</p>
    </form>
  
    <div class="row bg-light mt-4 p-4 rounded" *ngIf="dogData">
      <div class="col-md-4">
        <div class="mb-4">
          <h3>{{dogData.Error}}</h3>
          <img *ngIf="dogData.img" [src]="dogData.img" alt="{{ dogData.breed }} image" class="img-fluid mt-2">
        </div>
      </div>
      <div class="col-md-8">
        <div *ngIf="dogData.breed">
          <h1>{{dogData.breed}}</h1>
          <h6 *ngIf="dogData.meta && dogData.meta.other_names && dogData.meta.other_names.length">Often Referred to as,</h6>
          <p>{{dogData.meta.other_names}}</p>
  
          <div class="row mt-4">
            <div class="col-md-6">
              <h4 class="font-weight-bold">Origin</h4>
              <p>{{dogData.origin}}</p>
            </div>
            <div class="col-md-6">
              <h4 class="font-weight-bold">Colour</h4>
              <p>{{dogData.meta.colour}}</p>
            </div>
          </div>
  
          <h4 class="font-weight-bold mt-4">Physical Characteristics</h4>
          <table class="table table-striped" *ngIf="dogData.meta && dogData.meta.height && dogData.meta.weight">
            <!-- table-->
            <thead>
              <tr>
                <th> </th>
                <th>Male</th>
                <th>Female</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Height</td>
                <td>{{ dogData.meta.height.dogs }}</td>
                <td>{{ dogData.meta.height.bitches }}</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>{{ dogData.meta.weight.dogs }}</td>
                <td>{{ dogData.meta.weight.bitches }}</td>
              </tr>
            </tbody>
          </table>
  
          <h4 class="font-weight-bold mt-4">More Information</h4>
          <p class="text-underline"><a href="{{dogData.url}}">{{dogData.url}}</a></p>
        </div>
      </div>
    </div>
  </div>
  